#profile {
    margin: 0 auto;
    max-width: 350px;
}
.card {
    border-radius: 15px;
    box-shadow: 1px 3px 10px #ccc;
    margin-bottom: 50px;
}
img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: auto;
    height: 350px;
}

#octocat {
    height: 35px;
}